@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ember JS </h1>
    <p>Class is a template or blue print, that has a collection of variables and functions, whereas instances are related to the object of that class. You can create new Ember class by using the Ember.Object's extend() method.</p>
    <p>A computed property declares functions as properties and Ember.js automatically calls the computed properties when needed and combines one or more properties in one variable.</p>
    <p>The computed property accesses all items in an array to determine its value</p>
    <p>The observer observes the property such as computed properties and updates the text of the computed property.</p>
    <p>The binding is a powerful feature of Ember.js which helps to create a link between two properties and if one of the properties gets changed, the other one is updated automatically.</p>
</div>
