@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ember JS </h1>
    <p>Class is a template or blue print, that has a collection of variables and functions, whereas instances are related to the object of that class. You can create new Ember class by using the Ember.Object's extend() method.</p>
    <p>A computed property declares functions as properties and Ember.js automatically calls the computed properties when needed and combines one or more properties in one variable.</p>
</div>
